html {
  background: #f4f4f4;
}
body {
  padding-bottom: 5rem;
  height: 100%;
}
i {
  pointer-events: none;
}
.logo {
  padding: 1rem;
}
.message {
  width: 100%;
  -webkit-box-shadow: 3px 6px 13px -5px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 3px 6px 13px -5px rgba(0, 0, 0, 0.41);
  box-shadow: 3px 6px 13px -5px rgba(0, 0, 0, 0.2);
}
.message-body {
  border: 0;
  border-top: 6px solid;
  opacity: 0.8;
  width: 100%;
  overflow: hidden;
}
.message-body:hover {
  border-width: 6px 0 0 0 !important;
  opacity: 1;
  width: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: auto;
}
.hero-body {
  width: 50vw;
}
.flexme {
  justify-content: flex-start;
  width: 50%;
}
#submit-task {
  margin-right: 1rem;
}
#modal-save {
  margin-left: 1rem;
}
.mobile-btn {
  display: none;
}
.desktop-btn {
  display: block;
}
.burger {
  color: #fff;
}
#task-box {
  width: 50vw;
  overflow: hidden;
  margin-right: 2rem;
}
#completed-text {
  text-decoration: line-through;
}
#timestamp {
  font-size: 0.8rem;
  color: #999;
  font-style: italic;
  display: inline-block;
}
#task-box {
  display: flex;
  flex-direction: column;
}
#clear-completed {
  margin-top: 2rem;
}
.btn-container {
  padding: 3rem;
}
.line-through {
  margin-right: 1rem;
}
.line-through:hover {
  text-decoration: line-through;
  cursor: pointer;
}
/* #task-text-complete {
  text-decoration: line-through;
} */
.message-complete {
  opacity: 0.9;
}
@media (max-width: 768px) {
  .flexme {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #submit-task {
    width: 100%;
    margin: 1rem 0;
  }
  ::placeholder {
    text-align: center;
    color: red;
  }

  .desktop-btn {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
  .hero-body {
    width: 90vw;
  }
  .message span {
    font-size: 1rem !important;
    font-weight: bold;
    text-align: center;
  }
  .message-body:hover {
    border: 1px solid;
    border-left: 10px solid;
    opacity: 1;
  }
  .message-complete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  #restore-btn-div {
    margin: 0.5rem;
    /* padding: 0; */
  }

  .level-item {
    width: 100%;
    margin: auto;
    padding: 0;
    /* text-align: center; */
  }

  .btn-restore {
    display: inline-block;
  }
}
